<header class='second-header'>
</header>

<%= form_with model: @closet, url: closets_path,data: { turbo: false }, class: 'closet-main', local: true do |f| %>
<div class='closet-form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      アイテム追加
    </h1>
  </div>

   <div class="img-upload">
      <div class="upload-text">
        商品画像
      </div>
      <div class="click-upload">
        <%= f.file_field :image, id:"item-image" %>
      </div>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">Category</label>
    </div>
      <%= f.collection_select :category_id, Category.all, :id, :name %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">Size</label>
    </div>
    <%= f.collection_select :size_id, Size.all, :id, :name %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">Color</label>
    </div>
    <%= f.collection_select :color_id, Color.all, :id, :name %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">Season</label>
    </div>
    <%= f.collection_select :season_id, Season.all, :id, :name %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">Brand</label>
    </div>
    <%= f.text_field :brand %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">Memo</label>
    </div>
    <%= f.text_area :memo %>
  </div>


  <div class='register-btn'>
    <%= f.submit "追加" ,class:"closet-red-btn" %>
  </div>
  
</div>
<% end %>

<footer class='second-fotter'>
</footer>